.slide-image {
  max-height: 415px;
  /* Limit the height of the image */
  width: 100%;
  object-fit: cover;
  /* Maintain aspect ratio and cover entire container */
}

.slide-container {
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 96px;
  height: 120px;
  display: grid;
  place-items: center;
  align-items: center;
}

.prev {
  left: 10px;
  padding-right: 20px;
}

.next {
  right: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  svg {
    width: 24px;
    height: 24px;
  }
  .prev {
    left: 0;
    padding: 0;
    place-items: flex-start;
    align-items: center;
  }
  .next {
    right: 0;
    padding: 0;
    place-items: flex-end;
    align-items: center;
  }
}